__pycache__/
*.py[cod]
*.so
.Python
*.db
*.db-journal
*.db-wal
*.db-shm
env/
venv/
.venv/
ENV/
.env
.idea/
.vscode/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.log
instance/
web_static/
